body {
    background-image: url('../images/default.jpeg');
    background-size: cover;
    background-repeat: none;
}

#errorMessage {
    visibility: hidden;
}

#searchContainer {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 10%;
}

#weatherContainer {
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
    color: white !important;
    text-shadow: 2px 2px 1px black;
}

#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
}

#weatherMain {
    display: block;
}

#weatherMain div {
    display: inline-block;
}

#weatherMain img {
    vertical-align: baseline;
}
#weatherDescriptionHeader, #temperature {
    font-size: 28px;
    vertical-align: 50%;
}

.bottomDetails {
    display: block;
    font-size: 24px;
    text-align: right;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 1px solid white !important;
}


